// app global css in SCSS form

@font-face {
  font-family: Hatton-Ultralight;
  src: url(./fonts/Hatton-Ultralight.otf);
}
@font-face {
  font-family: Hatton-Semibold;
  src: url(./fonts/Hatton-Semibold.otf);
}
@font-face {
  font-family: Hatton-Medium;
  src: url(./fonts/Hatton-Medium.otf);
}

// declare a class which applies it
body {
  // font-family: 'Hatton-Medium';
      font-family: Hatton-Semibold;
}

h1 {
  // font-family: Hatton-Semibold;
  // font-size: 3rem;
  // line-height: 4rem;
}

h2 {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

p {
  font-size:  1.2rem;
  line-height: 1.2rem;
}

// STYLES CAROUSEL INDEX
.third-block button.carousel__prev,  button.carousel__next{
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 12%;
}

.third-block .carousel__slide--active .figcaption {
  background-color: transparent;
}

.third-block .carousel__slide--active .q-img.q-img--menu.img1 {
  height: 500px !important;
  /* z-index: 9999; */
}

.third-block li.carousel__slide.carousel__slide--active.carousel__slide--visible {
  z-index: 9;
}

.third-block svg.carousel__icon {
  display: none;
}

.third-block button.carousel__prev:after{
  transform: rotate(180deg);
}

.third-block button.carousel__prev:after, button.carousel__next:after {
  content: "";
  background-image: url("src/assets/freccia.svg");
  height: 90%;
  width: 90%;
  border-radius: 50%;
  position: relative;
  bottom: 1%;
}

// END STYLES CAROUSEL INDEX

@media screen and (max-width: 990px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h6 {
    font-size: 1rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .q-btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 1rem;
    line-height: 1rem;
  }

  h6 {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  h2 {
    font-size: 1.55rem;
    line-height: 1.55rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }

  .q-btn {
    font-size: 0.8rem;
  }
}

.q-drawer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9363095580028886) 0%,
    rgba(76, 69, 113, 1) 100%
  );
}

// *****SCROLLBAR

/* ===== Scrollbar CSS ===== */
/* Firefox */
// * {
//   scrollbar-width: auto;
//   scrollbar-color: #8f54a0 #ffffff;
// }

// /* Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

// *::-webkit-scrollbar-track {
//   background: #4c4571;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: rgba(158, 143, 230, 0.801);
//   border-radius: 7px;
//   border: 3px solid #525252;
// }

.q-img__content.absolute-full.q-anchor--skip {
  grid-column: 2;
}
