// app global css in SCSS form

@font-face {
  font-family: Hatton-Ultralight;
  src: url(./fonts/Hatton-Ultralight.otf);
}
@font-face {
  font-family: Hatton-Semibold;
  src: url(./fonts/Hatton-Semibold.otf);
}
@font-face {
  font-family: Hatton-Medium;
  src: url(./fonts/Hatton-Medium.otf);
}

@font-face {
  font-family: Commuters-Sans-Light;
  src: url(./fonts/CommutersSans-Light.ttf);
}
@font-face {
  font-family: Commuters-Sans-Bold;
  src: url(./fonts/CommutersSans-Bold.ttf);
}

@font-face {
  font-family: CommutersSans-Regular;
  src: url(./fonts/CommutersSans-Regular.ttf);
}

// ****C O R R E G G E R E ***********
.img3-index {
  object-position: 15% 50% !important;
}

 .quiz+.footer {
  display: none !important;
}
// ***********************************

// declare a class which applies it
body {
  // font-family: 'Hatton-Medium';
  font-family: Hatton-Semibold;
}

h1 {
  font-family: Hatton-Semibold;
  font-size: 55px;
  line-height: 55px;
}

h2 {
  font-family: Hatton-Medium;
  font-size: 50px;
  line-height: 50px;
}

h6 {
  font-family: Commuters-Sans-Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 4px;
}

.title-h2 {
  line-height: 65px;
  margin-bottom: 5%;
  padding: 0 47% 0 0;
  letter-spacing: 1px;
}

.subtitle-h6 {
  font-family: Commuters-Sans-Bold;
  font-size: 16px;
  line-height: 25px;
}

.q-toolbar .q-tab__label {
  font-family: "Commuters-Sans-Bold";
  font-size: 12px;
  line-height: 12px;
}

span.block {
  font-family: "Commuters-Sans-Bold";
  font-size: 13px;
  line-height: 13px;
}

p {
  font-family: "Commuters-Sans-Light";
  font-size: 16px;
  line-height: 25px;
}

.q-breadcrumbs__el {
  font-family: "Commuters-Sans-Light";
}

// STYLES CAROUSEL INDEX
.third-block button.carousel__prev,
.third-block button.carousel__next {
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 12%;
}

.third-block .carousel__slide--active .figcaption {
  background-color: transparent;
}

.third-block .carousel__slide--active .q-img.q-img--menu.img1 {
  height: 500px !important;
  /* z-index: 9999; */
}

.third-block
  li.carousel__slide.carousel__slide--active.carousel__slide--visible {
  z-index: 9;
}

.third-block svg.carousel__icon {
  display: none;
}

.third-block button.carousel__prev:after {
  transform: rotate(180deg);
}

.third-block button.carousel__prev:after,
.third-block button.carousel__next:after {
  content: "";
  background-image: url("src/assets/freccia.svg");
  height: 90%;
  width: 90%;
  border-radius: 50%;
  position: relative;
  bottom: 1%;
}

// END STYLES CAROUSEL INDEX

// WINCLUB

// END WINE CLUB

// QUIZ

.wrapped-section-three div {
  font-family: "Commuters-Sans-Regular" !important;
  font-size: 3rem !important;
}

// END QUIZ

// CONTACT
.form-component div {
  font-family: "Commuters-Sans-Bold" !important;
}

.q-item__label span {
  font-family: "CommutersSans-Regular" !important;
}
// END CONTACT

@media screen and (max-width: 990px) {
  h1 {
    font-family: Hatton-Semibold;
    font-size: 45px;
    line-height: 50px;
  }

  h6 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  .q-btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .third-block button.carousel__prev,
  .third-block button.carousel__next {
    // background-color: white;
    // border-radius: 50%;
    // width: 4rem;
    // height: 4rem;
    margin: 0px -4%;
  }

  // .third-block button.carousel__prev,
  // button.carousel__next {
  //   // background-color: white;
  //   // border-radius: 50%;
  //   // width: 4rem;
  //   // height: 4rem;
  //   // margin: 0px -9%;
  // }

  .third-block .carousel__slide--active .q-img.q-img--menu.img1 {
    height: 250px !important;
    /* z-index: 9999; */
  }
  .breadcrumbs {
    display: none !important;
  }
  .title-h2 {
    line-height: 50px !important;
  }
}

@media screen and (max-width: 680px) {
  h1 {
    font-family: Hatton-Semibold;
    font-size: 35px;
    line-height: 40px;
  }

  h6 {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    margin-top: 0;
  }

  h2 {
    font-size: 22px;
    line-height: 25px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  .third-block button.carousel__prev,
  .third-block button.carousel__next {
    margin: 0px -9%;
  }

  .title-h2 {
    line-height: 30px !important;
  }

  .img-about-4-index {
    object-position: 40% 50% !important; //riportato in app.css
  }

  .img-wine-block .img5-index {
    object-fit: contain !important;
  }

  // ***fine Media Query 680
}

.q-drawer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9363095580028886) 0%,
    rgba(76, 69, 113, 1) 100%
  );
}

// *****SCROLLBAR

/* ===== Scrollbar CSS ===== */
/* Firefox */
// * {
//   scrollbar-width: auto;
//   scrollbar-color: #8f54a0 #ffffff;
// }

// /* Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

// *::-webkit-scrollbar-track {
//   background: #4c4571;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: rgba(158, 143, 230, 0.801);
//   border-radius: 7px;
//   border: 3px solid #525252;
// }

.q-img__content.absolute-full.q-anchor--skip {
  grid-column: 2;
}
