// app global css in SCSS form

@font-face {
  font-family: Hatton-Ultralight;
  src: url(./fonts/Hatton-Ultralight.otf);
}
@font-face {
  font-family: Hatton-Semibold;
  src: url(./fonts/Hatton-Semibold.otf);
}
@font-face {
  font-family: Hatton-Medium;
  src: url(./fonts/Hatton-Medium.otf);
}

// declare a class which applies it
body {
  // font-family: 'Hatton-Medium';
}

h1 {
  font-family: Hatton-Semibold;
  font-size: 3rem;
  line-height: 4rem;
}

.sub-section-first{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

@media screen and (max-width: 990px) {
  h1{
    font-size: 2rem;
    line-height: 2rem;

  }
  h6 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .q-btn{
    font-size: .8rem;
  }
}

@media screen and (max-width: 680px) {
  h1{
    font-size: 1rem;
    line-height: 1rem;

  }

  h6 {
    font-size: .8rem;
    line-height: .8rem;
  }

  .q-btn{
    font-size: .6rem;
  }
}



.q-drawer {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.9363095580028886) 0%, rgba(76,69,113,1) 100%);
}

